#haburger, #hamburger-button {
  display: none;
}
#navbar {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--main-color);
  height: var(--nav-height);
  z-index: 999;
}

#navbar ul {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

#navbar ul li {
  list-style: none;
  margin-left: 1rem;
}

#navbar > ul li:first-child {
  margin-left: 2rem;
}

#navbar > ul li:last-child {
  margin-left: auto;
  margin-right: 2rem;
}

#navbar #startButton {
  font-size: .95vw;
}

#main a.btn:focus {
  -webkit-box-shadow: 0 0 0 0.2rem var(--green-color);
          box-shadow: 0 0 0 0.2rem var(--green-color);
}

#navbar a, .hh-dropdown {
  color: var(--main-color);
  background-color: white;
  font-size: 1vw;
  max-height: 3.2vw;
}

#navbar a:hover, .hh-dropdown:hover {
  background: var(--main-color);
  color: white;
  border-color: white;
}

#searchButton {
  background: white;
  color: var(--main-color);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#navbar #searchButton:hover {
  color: white;
  background: var(--main-color);
}

#searchInput {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#searchInput, #searchButton {
  font-size: .95vw;
  max-height: 3.2vw;
}

.hh-dropdown {
  position: relative;
}
.hh-dropdown-content {
  background-color: white;
  display: none;
  position: absolute;
  border: 2px solid white;
  border-radius: 5px;
  width: 100%;
  top: 100%;
  left: 0;
}
.hh-dropdown:focus .hh-dropdown-content{
  display: block;
}
.hh-dropdown-content a {
  display: block;
  min-height: 2rem;
  text-decoration: none;
  color: white;
  margin-top: .5rem;
}
.hh-dropdown-content a:hover {
  color: var(--green-color) !important;
}


@media only screen and (max-width: 991px) {
  #navbar {
    max-height: 2.6rem;
  }
}

@media only screen and (max-width: 768px) {
  #navbar {
    max-height: 2.2rem;
  }
  #navbar > ul li:first-child {
    margin-left: 1rem;
  }

  #navbar > ul li:last-child {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 575px) {
  #hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid var(--green-color);
    border-radius: 5px;
    min-width: 3rem;
    min-height: 1.6rem;
    margin: .2rem auto;
    padding: 0;
  }
  #hamburger div {
    margin: 0 auto;
    padding: 0;
    background-color: var(--green-color);
    display: inline-block;
    min-width: 1.2rem;
    min-height: 2px;
    border-radius: 5px;
  }
  #hamburger div:first-child {
    margin-top: .2rem;
  }
  #hamburger div:last-child {
    margin-bottom: .2rem;
  }
  #hamburger-button:checked ~ ul {
    transform: scale(1, 1);
  }
  #hamburger-button:checked ~ ul li a, #hamburger-button:checked ~ ul form, #hamburger-button:checked ~ ul .hh-dropdown {
    opacity: 1;
    transition: opacity 250ms ease-in-out 350ms;
  }
  #navbar ul {
    position: absolute;
    display: block;
    transform: scale(1, 0);
    transition: transform 400ms ease-in-out;
    transform-origin: top;
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 2px solid var(--main-color);
  }
  #navbar ul li {
    width: 100%;
    min-height: 2rem;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
  }
  #navbar ul li a {
    width: 100%;
    margin: 0 !important;
    font-size: 1rem;
    min-height: 2rem;
    line-height: 1rem;
    border-top: 1px solid var(--green-color);
    border-left: 1px solid var(--green-color);
    border-right: 1px solid var(--green-color);
    border-bottom: 0;
    border-radius: 0;
    background-color: var(--main-color);
    color: white;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  #navbar ul li:first-child a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  #navbar ul li form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  #searchInput{
    max-width: 100%;
    width: 80%;
    min-height: 2rem !important;
    border: 1px solid var(--green-color);
    border-right: 0;
    background-color: white;
    font-size: .8rem;
    border-top-left-radius: 0;
  }
  #searchButton{
    width: 20%;
    min-height: 2rem !important;
    border: 1px solid var(--green-color) !important;
    background-color: var(--main-color) !important;
    color: white !important;
    font-size: .8rem;
    border-top-right-radius: 0;
  }

  .hh-dropdown {
    width: 100%;
    margin: 0 !important;
    font-size: 1rem;
    min-height: 2rem;
    line-height: 1rem;
    border-top: 1px solid var(--green-color);
    border-left: 1px solid var(--green-color);
    border-right: 1px solid var(--green-color);
    border-bottom: 0;
    border-radius: 0;
    background-color: var(--main-color);
    color: white;
    transition: opacity 150ms ease-in-out;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

}